
.staffCardText {
    padding-left: 12px;
    text-align: left;
}

.detailCard :hover {
    cursor: pointer;
    background-color: rgb(98, 163, 247);
}

.detailCard :active {
    cursor: pointer;
    background-color: rgb(209, 130, 39);
}